<!-- Desktop sidebar -->
<aside
  class='relative z-20 flex-shrink-0 hidden w-64 overflow-hidden bg-white dark:bg-gray-800 md:flex flex-col items-stretch'
>
  <div class='pb-4 text-gray-500 dark:text-gray-400'>
    <a
      class='text-lg font-bold text-gray-800 dark:text-gray-200 block'
      href='/'
    >
      <img class='w-full h-auto' src='/img/Logo-01.png' alt='' />
    </a>
    <ul class='mt-6'>
      <li class='relative px-6 py-3'>

        <a
          class='inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 active:border-l-5 border-red hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100'
          href='/'
        >
          <i class='fa-solid fa-house'></i>
          <span class='ml-4'>Dashboard</span>
        </a>
      </li>
    </ul>
    <ul>
      <li class='relative px-6 py-3'>
        <a
          class='inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
          href='/users'
        >
          <i class='fa-solid fa-users'></i>
          <span class='ml-4'>Users</span>
        </a>
      </li>
      <li class='relative px-6 py-3'>
        <button
          class='inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 border-none outline hover:text-gray-800 dark:hover:text-gray-200'
          @click='togglePagesMenu'
          aria-haspopup='true'
        >
          <span class='inline-flex items-center'>
            <i class='fa-solid fa-laptop-file'></i>
            <span class='ml-4'>CMS</span>
          </span>
          <i class='fa-solid fa-chevron-down'></i>
        </button>
        <template x-if='isPagesMenuOpen'>
          <ul
            x-transition:enter='transition-all ease-in-out duration-300'
            x-transition:enter-start='opacity-25 max-h-0'
            x-transition:enter-end='opacity-100 max-h-xl'
            x-transition:leave='transition-all ease-in-out duration-300'
            x-transition:leave-start='opacity-100 max-h-xl'
            x-transition:leave-end='opacity-0 max-h-0'
            class='p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium text-gray-500 rounded-md shadow-inner bg-gray-50 dark:text-gray-400 dark:bg-gray-900'
            aria-label='submenu'
          >
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/our-impact'>Our Impact</a>
            </li>
            {{! <li
                    class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                  >
                    <a class="w-full" href="/add-user">
                      Create User
                    </a>
                  </li> }}
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/partners'>
                Partners
              </a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/blogs'>Blogs</a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/projects'>Projects</a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/portfolio'>Portfolio</a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/talents'>Talents</a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/culture'>Culture</a>
            </li>
          </ul>
        </template>
      </li>
    </ul>
    <div class='px-6 my-6'>
      {{! <a
            href="/add-user"
              class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            >
              Create User
              <span class="ml-2" aria-hidden="true">+</span>
            </a> }}
    </div>
  </div>
</aside>
<!-- Mobile sidebar -->
<!-- Backdrop -->
<div
  x-show='isSideMenuOpen'
  x-transition:enter='transition ease-in-out duration-150'
  x-transition:enter-start='opacity-0'
  x-transition:enter-end='opacity-100'
  x-transition:leave='transition ease-in-out duration-150'
  x-transition:leave-start='opacity-100'
  x-transition:leave-end='opacity-0'
  class='fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center'
></div>
<aside
  class='fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-gray-800 md:hidden'
  x-show='isSideMenuOpen'
  x-transition:enter='transition ease-in-out duration-150'
  x-transition:enter-start='opacity-0 transform -translate-x-20'
  x-transition:enter-end='opacity-100'
  x-transition:leave='transition ease-in-out duration-150'
  x-transition:leave-start='opacity-100'
  x-transition:leave-end='opacity-0 transform -translate-x-20'
  @click.away='closeSideMenu'
  @keydown.escape='closeSideMenu'
>
  <div class='py-4 text-gray-500 dark:text-gray-400'>
    <a class='ml-6 text-lg font-bold text-gray-800 dark:text-gray-200' href='/'>
      <img class='w-full h-auto' src='/img/Logo-01.png' alt='' />
    </a>
    <ul class='mt-6'>
      <li class='relative px-6 py-3'>
        <span
          class='absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg'
          aria-hidden='true'
        ></span>
        <a
          class='inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100'
          href='/'
        >
          <i class='fa-solid fa-house'></i>
          <span class='ml-4'>Dashboard</span>
        </a>
      </li>
    </ul>
    <ul>
      <li class='relative px-6 py-3'>
        <a
          class='inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
          href='/users'
        >
          <i class='fa-solid fa-users'></i>
          <span class='ml-4'>Users</span>
        </a>
      </li>

      <li class='relative px-6 py-3'>
        <button
          class='inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
          @click='togglePagesMenu'
          aria-haspopup='true'
        >
          <span class='inline-flex items-center'>
            <i class='fa-solid fa-laptop-file'></i>
            <span class='ml-4'>CMS</span>
          </span>
        </button>
        <template x-if='isPagesMenuOpen'>
          <ul
            x-transition:enter='transition-all ease-in-out duration-300'
            x-transition:enter-start='opacity-25 max-h-0'
            x-transition:enter-end='opacity-100 max-h-xl'
            x-transition:leave='transition-all ease-in-out duration-300'
            x-transition:leave-start='opacity-100 max-h-xl'
            x-transition:leave-end='opacity-0 max-h-0'
            class='p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium text-gray-500 rounded-md shadow-inner bg-gray-50 dark:text-gray-400 dark:bg-gray-900'
            aria-label='submenu'
          >
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/our-impact'>Our Impact</a>
            </li>

            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/partners'>
                Partners
              </a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/blogs'>Blogs</a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/projects'>Projects</a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/portfolio'>Portfolio</a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/talents'>Talents</a>
            </li>
            <li
              class='px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200'
            >
              <a class='w-full' href='/culture'>Culture</a>
            </li>
          </ul>
        </template>
      </li>
    </ul>
    <div class='px-6 my-6'>
      {{! <a
            href="/add-user"
              class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            >
              Create User
              <span class="ml-2" aria-hidden="true">+</span>
            </a> }}
    </div>
  </div>
</aside>

<script>

</script>