<div
  class='shadow-lg min-h-fit rounded-md bg-gray-50 dark:bg-gray-800 md:my-10 mt-24 md:mx-20 mx-3'
>

  <div class='flex items-center w-full mx-auto p-6'>
    <div class='flex-1 self-start md:w-1/2 mx-auto rounded-lg'>
      <div class='overflow-y-auto md:flex-row'>
        <div>
          <div class='flex justify-between items-center lg:pb-16 pb-6 w-full'>
            <h2
              class='lg:text-4xl text-2xl font-semibold text-gray-700 dark:text-gray-200 lg:w-auto w-fit'
            >
              Blog Item
            </h2>
            <a
              class='text-white py-3 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5 text-xs'
              href='/blogs'
            >Back to list <i class='fa-solid fa-list'></i></a>
          </div>
        </div>
        <div class='flex justify-between items-stretch md:flex-row flex-col'>
          <div class='flex-1 mb-4'>
            <h1
              class='text-gray-800 dark:text-gray-200 text-2xl md:text-4xl font-bold capitalize'
            >{{data.title}}</h1>
            <p class='font-bold mt-5 dark:text-gray-200'>Type: {{data.type}}</p>
          </div>
          <img
            class='w-full h-auto object-contain flex-1'
            src='{{data.thumb_image}}'
            alt=''
          />
        </div>
        <div class='md:p-6 w-full mt-5 dark:text-gray-200'>
          {{{data.description}}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Initialize Quill editor -->
<script src='https://cdn.jsdelivr.net/npm/quill-delta-to-html'></script>
<script src='/js/create-blog.js' defer></script>